# Entornos de WinPython (Permitido para subir)
# WPy64-*/

# Entornos Virtuales
Proyecto_SIGH/env/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
# db.sqlite3  # Descomenta esta línea si NO quieres subir tu base de datos a GitHub.

# Archivos del sistema
.DS_Store
Thumbs.db
